:root {
    --borderRadius: 9999px;
}










/* ---------------Button Hover Effect---------------- */
/* style1 */
.totty-btn1 {
    position: relative;
    padding: 5px 10px;
    background-color: transparent;
    color: transparent;
    border: 1px solid royalblue;
    outline: none;
    border-radius: var(--borderRadius);
    overflow: hidden;
    white-space: nowrap;
}

.totty-btn1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}
.totty-btn1 p:nth-child(1) { top: -50%; }
.totty-btn1:hover p:nth-child(1) { top: 50%; }
.totty-btn1:hover p:nth-child(2) { top: 150%; }
.totty-btn1:hover span { height: 100%; }

.totty-btn1 span {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 0;
    width: 100%;
    background-color: white;
}




/* style2 */
.totty-btn2 {
    position: relative;
    padding: 20px 40px;
    background: transparent;
    color: transparent;
    outline: none;
    border: .1px solid black;
    border-radius: var(--borderRadius);
    overflow: hidden;
    white-space: nowrap;
}

.totty-btn2 span:nth-child(1) {
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    overflow: hidden;
}

.totty-btn2 span p {
    position: absolute;
    left: 0;
    transition: top .4s ease-in-out;
}

.totty-btn2 span p:nth-child(1) {
    color: black;
    top: 0;
}

.totty-btn2 span p:nth-child(2) {
    color: white;
    top: 100%;
    z-index: 2;
}

.totty-btn2 span:nth-child(2) {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 50%;
    background-color: black;
    transition: border-radius .4s ease-in-out, height .4s ease-in-out;
}

.totty-btn2:hover span p:nth-child(1) { top: -100%; }
.totty-btn2:hover span p:nth-child(2) { top: 0; }
.totty-btn2:hover span:nth-child(2) { height: 100%; border-radius: 0px; }




/* style3 */
.totty-btn3 {
    padding: 10px 25px;
    position: relative;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: transparent;
}

/* 3.1 */
.totty-btn3-1 svg {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.totty-btn3-1 rect {
    border-radius: inherit;
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-dasharray: 100%, 0;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.totty-btn3-1:hover {
    font-weight: 900;
    letter-spacing: 1px;
}

.totty-btn3-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 0, 100%;
    stroke-dashoffset: 48;
}










/* ---------------Nav Hamburger Effect---------------- */
/* style1 */
.totty-nav-toggler1 {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    overflow-x: hidden;
    background-color: transparent;
}

.totty-nav-toggler1>div {
    width: 36px;
    height: 24px;
    position: relative;
}

.totty-nav-toggler1:hover>div>div:nth-child(1) {
    transform: translate(calc(-36px - 15px), 50%);
    opacity: 0;
}

.totty-nav-toggler1:hover>div>div:nth-child(1) span {
    transform: translate(calc(36px * 2 + 15px * 2), 0);
    opacity: 0;
}

.totty-nav-toggler1.totty-nav-toggler1-is-active>div>div:nth-child(1) {
    display: none;
}

.totty-nav-toggler1>div>div:nth-child(1) {
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
}

.totty-nav-toggler1>div>div:nth-child(1) span {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    opacity: 1;
    transform: translate(-5px, 0);
}

.totty-nav-toggler1>div>div:nth-child(1) span:nth-child(1) { top: -13px; }
.totty-nav-toggler1>div>div:nth-child(1) span:nth-child(2) { top: 13px; }

.totty-nav-toggler1:hover>div>div:nth-child(2) {
    opacity: 1;
    transform: translate(0, -50%);
}

.totty-nav-toggler1:hover>div>div:nth-child(2) span {
    opacity: 1;
    transform: translate(0, 0);
}

.totty-nav-toggler1.totty-nav-toggler1-is-active>div>div:nth-child(2) {
    opacity: 1;
    transform: rotate(45deg);
}

.totty-nav-toggler1.totty-nav-toggler1-is-active>div>div:nth-child(2) span:nth-child(1) {
    transform: translate(0, 13px) rotate(90deg);
    transform-origin: center;
}

.totty-nav-toggler1.totty-nav-toggler1-is-active>div>div:nth-child(2) span:nth-child(2) {
    transform-origin: center;
    transform: translate(0, -13px) rotate(0);
}

.totty-nav-toggler1>div>div:nth-child(2) {
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    top: 50%;
    transform: translate(calc(36px + 15px), -50%);
}

.totty-nav-toggler1>div>div:nth-child(2) span {
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transform: translate(calc(36px * 2 + 15px * 2), 0);
}

.totty-nav-toggler1>div>div:nth-child(2) span:nth-child(1) { top: -13px; }
.totty-nav-toggler1>div>div:nth-child(2) span:nth-child(2) { top: 13px; }